.wrapper{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    gap: 3px;
    flex-wrap: wrap;
    
}
.flex1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:3px;
    height: fit-content;
}
.flex-div1{
    background-color: blue;
    width: 70%;
    height: 200px;
    
}
.flex-div2{
    background-color:aquamarine;
    width: 25%;
    height: 150px;
    
    
}
.flex-div3{
    background-color: brown;
    width: 20%;
    height: 150px; 
}
.flex2{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    height: fit-content;
}
.div4{
    background-color: green;
    width: 45%;
    height: 150px;
}
.div5{
    background-color: yellow;
}
.div6{
    background-color: gray;
}
.giv7{
    background-color: orange;
}
